blinker==1.8.2
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
idna==3.7
islenska==1.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
numpy==2.0.0
pycparser==2.22
python-dotenv==1.0.1
requests==2.32.3
reynir==3.5.5
scikit-learn==1.5.0
scipy==1.14.0
threadpoolctl==3.5.0
tokenizer==3.4.3
typing_extensions==4.12.2
urllib3==2.2.2
waitress==3.0.0
Werkzeug==3.0.3