<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forsetningarliðir</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
    <script>
        function goBack() {
            window.history.back();
        }
        function displayMessageIfUnderlinedWords() {
            const underlinedWords = document.querySelectorAll('.hoverable-word');
            if (underlinedWords.length > 0) {
                const message = document.createElement('p');
                message.textContent = "Smelltu á undirstrikaða liðinn til að greina beygingarleg einkenni hans";
                message.style.color = "black";
                document.querySelector('.content').appendChild(message);

                const overlay = document.querySelector('.overlay');
                if (overlay) {
                    const overlayMessage = document.createElement('p');
                    overlayMessage.textContent = "Smelltu á undirstrikaða liðinn til að greina beygingarleg einkenni hans";
                    overlayMessage.style.color = "black";
                    overlay.appendChild(overlayMessage);
                }
            }
        }
    </script>
</head>
<body>
    <div class="container overlay-container">
        <div class="back-one-step-button" onclick="goBack()"></div>
        <h1 style="color: #ef0cbe;">Forsetningarliðir</h1>
        <div class="content">
            <p>Forsetningarliður samanstendur af forsetningu og fallorðinu/fallorðunum sem hún stýrir fallinu á. Finndu forsetningarliðina í eftirfarandi setningu:</p>
            <p class = "sentence">{{ sentence }}</p>
            <form method="post" action="/forsetningarliðir">
                <input type="hidden" name="sentence" value="{{ sentence }}">
                <label for="p_phrases">(Aðskildu forsetingarliðina með kommu ef þeir eru fleiri en einn. Ýttu á Enter ef setningin inniheldur engan forsetningarlið)</label>
                <input type="text" id="p_phrases" name="p_phrases"><br><br>
                <button type="submit" class="submit-button" style="background-color: #ef0cbe;">Senda svar</button>
            </form>
            {% if result %}
                <p class="result">{{ result | safe }}</p>
                <script>
                    displayMessageIfUnderlinedWords();
                </script>
            {% endif %}
        </div>
        <div class="button-container">
            <form action="/forsetningarliðir">
                <button type="submit" class="button sagnliðir" style="background-color: #ef0cbe;"> Næsta setning &#x21bb; </button>
            </form>
            <form action="/index">
                <button type="submit" class="button back-button" style="background-color: #ef0cbe;">Til baka á upphafssíðu &#x2190; </button>
            </form>
        </div>

        {% if correct %}
        <div class="overlay" id="result-overlay" style="color: #ef0cbe;">
            <div class="back-one-step-button" onclick="goBack()"></div>
            <p class="overlay-result">{{ result | safe }}</p>
            <form action="/forsetningarliðir">
                <button type="submit" class="button sagnliðir" style="background-color: #ef0cbe;"> Næsta setning &#x21bb;</button>
            </form>
            <form action="/index">
                <button type="submit" class="button back-button" style="background-color: #ef0cbe;">Til baka á upphafssíðu &#x2190;</button>
            </form>
        </div>
        <script>
            document.getElementById('result-overlay').style.display = 'flex';
            displayMessageIfUnderlinedWords();
        </script>
        {% endif %}
    </div>
</body>
</html> 



